@using Microsoft.AspNetCore.Identity
@using Penna.Entities.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div style="display: flex;align-items: center;justify-content: center;flex-direction: column; width: 100%; text-align: center; margin: 10% 0; min-height: 200px; background-color: rgba(33, 33, 33, .3); align-items: center;">
    <ul class="nav nav-pills nav-sidebar flex-column">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item  text-center">
                <div class="cursor-pointer symbol symbol-30px symbol-md-100px">
                    <img src="/assets/media/avatars/blank.png" class="img-circle elevation-2" style="border-radius:50%" alt="metronic">
                </div>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link text-white" asp-area="" asp-action="Index" asp-controller="Manage" title="Manage">
                    <p>@User.Identity.Name!</p>
                </a>
            </li>
            <li class="nav-item" style="display: flex;align-items: center;justify-content: center;flex-direction: column; width: 100%; text-align: center; align-items: center;">
                <form class="form-inline" asp-area="" asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-white">
                        <i class="fas fa-sign-out-alt"></i> Çıkış
                    </button>
                </form>
            </li> 
        }
        else
        {
            <li class="nav-item active">

                <a class="nav-link" asp-area="" asp-action="Register" asp-controller="Account">
                    <i class="fas fa-registered"></i>
                    <p>Register</p>
                </a>
            </li>
            <li class="nav-item active">

                <a class="nav-link" asp-area="" asp-action="Login" asp-controller="Account">
                    <i class="fas fa-user"></i>
                    <p>Login</p>
                </a>
            </li>
        }
    </ul>
</div>