@model ConcreteRequestDto
@{
    ViewData["Title"] = Toolbar.Title;
}

@section Styles {
<style>
    input:invalid {
        border: red solid 3px;
    }
</style>
}

<div class="card">
    <div class="card-header border-0 pt-10">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">Beton Alım Talebi Yap</h2>
        <!--end::Modal title-->
    </div>
    <div class="card-body pt-0">
        <div class="row">
            <div class="col-md-8">
                <!--begin::Form-->
                <form class="form" asp-action="SavePurchaseRequest" method="post" id="add_purchase_request_form" data-kt-redirect="/Concrete">
                    <!--begin::Input group PurchaseDate-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold mb-2">Tarih</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" asp-for="ConcreteRequest.TransactionDate" class="form-control form-control-solid" />
                        <!--end::Input-->
                        <span asp-validation-for="ConcreteRequest.TransactionDate" class="text-danger"></span>
                    </div>
                    <!--end::Input group PurchaseDate-->
                    <!--begin::Input group ProductId-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold mb-2">Alınacak Malzeme</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <select asp-for="ConcreteRequest.ProductId" asp-items="Model.ProductList" class="form-select form-select-solid">
                            <option value="">---Malzeme Seç---</option>
                        </select>
                        <!--end::Input-->
                        <span asp-validation-for="ConcreteRequest.ProductId" class="text-danger"></span>
                    </div>
                    <!--end::Input group ProductId-->
                    <!--begin::Input group Quantity-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold mb-2">Miktarı</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" asp-for="ConcreteRequest.Quantity" class="form-control form-control-solid" placeholder="Miktar giriniz" />
                        <!--end::Input-->
                        <span asp-validation-for="ConcreteRequest.Quantity" class="text-danger"></span>
                    </div>
                    <!--end::Input group Quantity-->
                    <!--begin::Input group RequestedDeliveryDate-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold mb-2">Talep Edilen Teslim Tarihi</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" asp-for="ConcreteRequest.RequestedDate" class="form-control form-control-solid" />
                        <!--end::Input-->
                        <span asp-validation-for="ConcreteRequest.RequestedDate" class="text-danger"></span>
                    </div>
                    <!--end::Input group RequestedDeliveryDate-->
                    <!--begin::Input group RequestedBlockId-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fs-6 fw-bold mb-2">Talep Edilen Birim</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <select asp-for="ConcreteRequest.BlockId" asp-items="Model.BlockList" class="form-select form-select-solid">
                            <option value="">---Birim Seç---</option>
                        </select>
                        <!--end::Input-->
                        <span asp-validation-for="ConcreteRequest.BlockId" class="text-danger"></span>
                    </div>
                    <!--end::Input group RequestedBlockId-->
                    <!--begin::Input group Description-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="fs-6 fw-bold mb-2">Açıklama</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <textarea asp-for="ConcreteRequest.Description" class="form-control form-control-solid" rows="2" placeholder="Açıklama giriniz"></textarea>
                        <!--end::Input-->
                        <span asp-validation-for="ConcreteRequest.Description" class="text-danger"></span>
                    </div>
                    <!--end::Input group Description-->
                    <!--begin::Button Group-->
                    <div class="flex-center">
                        <!--begin::Button-->
                        <button type="submit" id="add_purchase_request_submit" class="btn btn-primary">
                            <span class="indicator-label">Kaydet</span>
                            <span class="indicator-progress">
                                Lütfen bekleyin...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <!--end::Button-->
                    </div>
                    <!--end::Button Group-->
                </form>
                <!--end::Form-->
            </div>
        </div>

    </div>
</div>

@section PageScripts {
@*<script src="~/assets/js/custom/apps/purchase/add-concrete-request.js"></script>*@
<partial name="_ValidationScriptsPartial" />
<script>
    $("#ConcreteRequest_TransactionDate").flatpickr({
        onReady: function () {
            this.jumpToDate(moment().format("DD-MM-YYYY"))
        },
        locale: Turkish,
        dateFormat: "d-m-Y",
        defaultDate: moment().format("DD-MM-YYYY")
    });
    $("#ConcreteRequest_RequestedDate").flatpickr({
        onReady: function () {
            this.jumpToDate(moment().format("DD-MM-YYYY"))
        },
        locale: Turkish,
        dateFormat: "d-m-Y",
        defaultDate: moment().format("DD-MM-YYYY")
    });
</script>
}
